body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

p {
  margin-bottom: 10px;
}

.body {
  background-color: #000;
}

.hero {
  padding-top: 175px;
  opacity: 1;
}

.grey-section {
  background-color: #22242a;
}

.grey-fade-section {
  background-color: #302f2c;
  background-image: -webkit-linear-gradient(270deg, #302f2c, #1b1b19 0%, #2c2b29);
  background-image: linear-gradient(180deg, #302f2c, #1b1b19 0%, #2c2b29);
}

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.text-block {
  padding-bottom: 20px;
  font-family: Raleway, sans-serif;
  color: #979797;
  text-align: center;
}

.blog-photo {
  padding-top: 40px;
  padding-bottom: 10px;
}

.image {
  display: block;
  width: 100%;
}

.blog-headline {
  margin-bottom: 15px;
}

.blog-text {
  margin-bottom: 30px;
}

.body-text {
  font-family: Raleway, sans-serif;
  color: #fff;
  line-height: 28px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.5px;
}

.body-text.blog-nav {
  color: #999;
  line-height: 20px;
  text-decoration: none;
}

.button-white {
  display: block;
  width: 130px;
  margin: 20px auto;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-white.store {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-white.news-story {
  width: 150px;
}

.headline {
  margin-bottom: 15px;
}

.heading-1-blue {
  font-family: 'Scope One', sans-serif;
  color: #4779be;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.heading-1-blue.blog-hero {
  font-size: 30px;
}

.photo {
  padding-bottom: 20px;
}

.photo.store {
  padding-bottom: 0px;
}

.heading-1-white {
  font-family: 'Scope One', sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.heading-1-white.blog-hero {
  font-size: 30px;
}

.heading-1-white.blog-story {
  font-size: 26px;
}

.heading-1-white.blog-subhead {
  font-size: 18px;
  text-align: left;
}

.heading-1-white.hero-store {
  font-size: 30px;
}

.hero-image {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.hero-image.store {
  padding-right: 50px;
  padding-left: 50px;
}

.button-orange-line {
  display: block;
  width: 140px;
  margin: 20px auto;
  border: 1px solid #ef7304;
  border-radius: 4px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.body-copy {
  padding-top: 0px;
  padding-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 28px;
}

.big-image {
  padding-bottom: 20px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.dark-section {
  background-color: #000;
}

.image-6 {
  width: 100%;
  height: 100%;
}

.image-7 {
  width: 100%;
}

.image-8 {
  width: 100%;
}

.heading-1-green {
  font-family: 'Scope One', sans-serif;
  color: #7eaa5d;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.text-shows {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.button-shows {
  display: block;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 0px 5px;
  border: 1px solid #4779be;
  border-radius: 12px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-size: 9px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.shows-button-block {
  display: block;
  width: 70px;
  margin-right: auto;
  margin-left: auto;
}

.dates {
  width: 8%;
}

.venues {
  width: 30%;
}

.locations {
  width: 50%;
}

.tickets {
  width: 10%;
}

.rsvp {
  width: 10%;
}

.shows-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hero-header {
  background-image: url('../images/Home-Bkgd-Fade.png'), -webkit-linear-gradient(270deg, #000, #222024 100%, #282937);
  background-image: url('../images/Home-Bkgd-Fade.png'), linear-gradient(180deg, #000, #222024 100%, #282937);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  opacity: 1;
}

.hero-header.band-hero {
  background-image: url('../images/Band-Bkgd-Fade.png'), -webkit-linear-gradient(270deg, #000, #222024 100%, #282937);
  background-image: url('../images/Band-Bkgd-Fade.png'), linear-gradient(180deg, #000, #222024 100%, #282937);
  background-position: 50% 95%, 0px 0px;
  background-size: cover, auto;
}

.hero-header.events-hero {
  background-image: url('../images/Events-Bkgd-Fade.png'), -webkit-linear-gradient(270deg, #000, #222024 100%, #282937);
  background-image: url('../images/Events-Bkgd-Fade.png'), linear-gradient(180deg, #000, #222024 100%, #282937);
  background-position: 50% 85%, 0px 0px;
  background-size: cover, auto;
}

.hero-header.media-hero {
  background-image: url('../images/Media-Bkgd-Fade.png'), -webkit-linear-gradient(270deg, #000, #222024 100%, #282937);
  background-image: url('../images/Media-Bkgd-Fade.png'), linear-gradient(180deg, #000, #222024 100%, #282937);
  background-position: 50% 100%, 0px 0px;
  background-size: cover, auto;
}

.hero-header.diary-hero {
  background-image: url('../images/Diary-Bkgd-Fade.png'), -webkit-linear-gradient(270deg, #000, #222024 100%, #282937);
  background-image: url('../images/Diary-Bkgd-Fade.png'), linear-gradient(180deg, #000, #222024 100%, #282937);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.hero-header.contact-hero {
  background-image: url('../images/Contact-Bkgd-Fade.png'), -webkit-linear-gradient(270deg, #000, #222024 100%, #282937);
  background-image: url('../images/Contact-Bkgd-Fade.png'), linear-gradient(180deg, #000, #222024 100%, #282937);
}

.hero-header.news-hero {
  background-image: url('../images/News-Bkgd-Fade.png'), -webkit-linear-gradient(270deg, #000, #222024 100%, #282937);
  background-image: url('../images/News-Bkgd-Fade.png'), linear-gradient(180deg, #000, #222024 100%, #282937);
}

.hero-header.store-hero {
  background-image: url('../images/Store-Bkgd-Fade.png'), -webkit-linear-gradient(270deg, #000, #222024 100%, #282937);
  background-image: url('../images/Store-Bkgd-Fade.png'), linear-gradient(180deg, #000, #222024 100%, #282937);
}

.hero-header.news-story-hero {
  background-image: -webkit-linear-gradient(270deg, #000, #222024 100%, #282937);
  background-image: linear-gradient(180deg, #000, #222024 100%, #282937);
}

.menu {
  position: absolute;
  width: 100%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, #000, transparent);
  background-image: linear-gradient(180deg, #000, transparent);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.navigation-link {
  padding: 55px 14px 45px;
  border-top: 3px solid transparent;
  border-bottom-style: none;
  font-family: Raleway, sans-serif;
  color: #4779be;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-link:hover {
  border-top-color: #4779be;
  color: #fff;
}

.navigation-link.w--current {
  border-top-color: #4779be;
  color: #fff;
}

.menu-logo {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

.container-nav {
  text-align: center;
}

.brand-2 {
  position: relative;
  float: none;
}

.container-2 {
  padding-top: 20px;
}

.text-span {
  color: #4779be;
}

.home-slider {
  height: auto;
  background-color: transparent;
}

.slider-right-arrow {
  font-size: 30px;
}

.row-2 {
  padding-bottom: 50px;
}

.slide-nav {
  font-size: 10px;
}

.slider-left-arrow {
  font-size: 30px;
}

.mask {
  height: 100%;
}

.band-member-name {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.row-3 {
  padding-bottom: 20px;
}

.row-4 {
  padding-bottom: 20px;
}

.container-3 {
  padding-bottom: 30px;
}

.container-4 {
  padding-top: 30px;
}

.shows-category-text {
  font-family: Raleway, sans-serif;
  color: #96df6e;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.img-port {
  position: relative;
  z-index: 1;
}

.service {
  font-size: 16px;
  font-weight: 700;
}

.category-text {
  padding-top: 10px;
  padding-bottom: 15px;
  color: hsla(0, 0%, 100%, .72);
  font-size: 13px;
  font-style: italic;
  letter-spacing: 1px;
}

.video-thumbnail {
  padding-bottom: 20px;
}

.image-9 {
  opacity: 1;
}

.body-copy-ital {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-style: italic;
  font-weight: 300;
}

.body-copy-ital.blog-nav {
  color: #999;
  font-size: 12px;
}

.blog-entry {
  margin-bottom: 30px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #3a3a3a;
}

.body-copy-subhead {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.body-copy-subhead.contact {
  color: #b9b9b9;
  font-size: 14px;
}

.body-copy-subhead.contact-sub {
  color: #7eaa5d;
  font-weight: 300;
  text-align: left;
}

.blog-nav-subhead {
  margin-bottom: 15px;
}

.blog-nav-column {
  margin-bottom: 30px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #3a3a3a;
}

.search-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto;
  height: 40px;
  border: 1px solid dimgrey;
  background-color: #191a1f;
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.search-input {
  height: 40px;
  border: 1px solid #6b6b6b;
  background-color: #303030;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 30px;
}

.search-container {
  position: relative;
}

.text-field {
  margin-bottom: 20px;
  background-color: rgba(25, 25, 31, .8);
  color: #dadada;
}

.message-area {
  min-height: 150px;
  margin-bottom: 20px;
  background-color: rgba(25, 25, 31, .8);
  color: #dadada;
}

.contact-info {
  padding-bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.text-span-2 {
  color: #4779be;
}

.text-span-3 {
  color: #4779be;
}

.text-span-4 {
  color: #4779be;
}

.contact-container {
  margin: 50px 100px;
}

.news-photo {
  padding-bottom: 10px;
}

.news-headline {
  margin-bottom: 15px;
}

.news-text {
  margin-bottom: 30px;
}

.news-entry {
  margin-bottom: 30px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #3a3a3a;
}

.subhead-store {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Scope One', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.smaller-image {
  padding-right: 200px;
  padding-bottom: 20px;
  padding-left: 200px;
}

.nav-container {
  position: relative;
  z-index: 1;
}

.button-blue-line {
  display: block;
  width: 140px;
  margin: 20px auto;
  border: 1px solid #4779be;
  border-radius: 4px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

html.w-mod-js *[data-ix="move-down-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="move-down"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

@media (max-width: 991px) {
  .hero {
    padding-top: 150px;
  }
  .grey-fade-section {
    background-image: -webkit-linear-gradient(270deg, #302f2c, #141413 0%, #22211e 100%, #2c2b27);
    background-image: linear-gradient(180deg, #302f2c, #141413 0%, #22211e 100%, #2c2b27);
  }
  .shows-button-block {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }
  .venues {
    width: 30%;
  }
  .locations {
    width: 40%;
  }
  .tickets {
    width: 12%;
  }
  .rsvp {
    width: 12%;
  }
  .device-brand {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .device-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, .52);
  }
  .device-menu-drop {
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
  }
  .device-menu-btn {
    color: #fff;
  }
  .device-menu-btn.w--open {
    background-color: #000;
  }
  .nav-l {
    width: 100%;
    max-width: 100%;
    font-family: Lato, sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  .nav-l:hover {
    background-color: transparent;
    color: #4779be;
  }
  .nav-l.w--current {
    background-color: #000;
    color: #fff;
  }
  .contact-container {
    margin-right: 75px;
    margin-left: 75px;
  }
  .smaller-image {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .blog-entry-date {
    padding-right: 10px;
    padding-left: 10px;
  }
  .body-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-1-white {
    font-size: 30px;
  }
  .hero-image {
    width: 90%;
  }
  .track-embed {
    padding-bottom: 20px;
  }
  .shows-button-block {
    width: 90%;
  }
  .dates {
    width: 15%;
  }
  .venues {
    width: 60%;
  }
  .tickets {
    width: 20%;
  }
  .rsvp {
    width: 20%;
  }
  .shows-row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav-l {
    color: #fff;
  }
  .nav-l:hover {
    background-color: transparent;
    color: #4779be;
  }
  .band-member-name {
    padding-right: 10px;
    padding-left: 10px;
  }
  .contact-info {
    padding-right: 10px;
    padding-left: 10px;
  }
  .contact-container {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .news-entry-date {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 479px) {
  .social-links {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .social-link {
    margin-right: auto;
    margin-left: auto;
  }
  .text-block {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-1-white {
    font-size: 34px;
  }
  .heading-1-white.blog-hero {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-1-white.hero-store {
    line-height: 34px;
  }
  .hero-image {
    width: 90%;
  }
  .hero-image.store {
    padding-right: 0px;
    padding-left: 0px;
  }
  .track-embed {
    padding-bottom: 15px;
  }
  .shows-button-block {
    width: 25%;
  }
  .dates {
    width: 20%;
  }
  .venues {
    width: 60%;
  }
  .tickets {
    width: 20%;
  }
  .row-2 {
    padding-bottom: 0px;
  }
  .smaller-image {
    padding-right: 20px;
    padding-left: 20px;
  }
}

